@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&family=Roboto&display=swap");

.principal {
  background-color: #f3f5fc;
  height: 100vh;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
.entrada {
  float: left;
  height: 100%;
  width: 60%;
}
nav {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
}
#logo {
  margin-left: 15%;
}
.contenidoEntrada {
  height: 65%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenido {
  height: 80%;
  width: 50%;
}
#codeSpace {
  font-size: 1.5rem;
  color: #0a3871;
  border: none;
  background: transparent;
}
#codeSpace:focus {
  outline: none;
}
#codeSpace:active {
  outline: none;
}
footer {
  width: 100%;
  height: 20%;
}
.contenidoFooter {
  margin-left: 25%;
}
#nota {
  color: #9c9d9d;
  font-weight: bolder;
  font-size: 0.9rem;
}
.btnopciones {
  margin-top: 10px;
  height: 4rem;
  width: 40%;
  border-radius: 25px;
  font-size: 1rem;
  border: 1px solid #0a3871;
}
.btnopciones:hover {
  box-shadow: 0 4px 16px #19569f71;
}
.btnopciones:active {
  transform: scale(0.98);
}

#bt1 {
  background-color: #0a3871;
  color: #ffffff;
}
#bt2 {
  background-color: #d8dfe8;
  color: #0a3871;
  margin-left: 10%;
}
.salida {
  float: right;
  height: 100vh;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contenidoSalida {
  background: #ffffff;
  height: 90%;
  width: 60%;
  border-radius: 25px;
  text-align: center;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#ilustracion {
  width: 90%;
}
#sinMensaje {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}
#dataCifrada {
  text-align: center;
  font-size: 1.5rem;
  color: #0a3871;
  margin-top: 40%;
}
#btnCopy {
  color: #0a3871;
  margin-top: auto;
  margin-bottom: 10%;
}
@media only screen and (max-width: 768px) {
  .principal {
    height: 100vh;
    width: 100vw;
  }
  .entrada {
    height: 70%;
    width: 100%;
  }
  .salida {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #ilustracion {
    display: none;
  }
  footer {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
  }
  .contenidoFooter {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  #contenidoSalida {
    width: 95%;
  }
  #dataCifrada {
    margin-top: 0;
  }
  #btnCopy {
    margin-top: 20px;
    margin-bottom: 0;
  }
}